.media-library-dropzone {
  height: 100%;
  width: 100%;
  background: #fff;
  position: absolute;
  visibility: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;

  &-inner {
    position: absolute;
    border: 2px dashed #BCCCDC;
    border-radius: $border-radius;
    transition: border-color 100ms;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: .5rem;
    top: .5rem;
    right: .5rem;
    bottom: .5rem;
    left: .5rem;
  }

  &-highlighted,
  &:hover {
    .media-library-dropzone-inner {
      border-color: var(--primary);
    }
  }

  &-visible {
    visibility: visible;
  }

  &-icon {
    margin-bottom: 10px;
  }

  &-notice {
    margin: 0;
  }

  &-input {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }
}
