body.media-library-locked {
  pointer-events: none;
}

.media-library-browser {
  .media-library-modal-viewport-element {
    min-height: 500px;
    height: 100%;
  }
}

.media-library-browser-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.media-library-browser-area {
  position: relative;
  flex-grow: 1;
  overflow-y: auto;

  @include scrollbars();
}

.media-library-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-gap: .75rem;
  padding-right: .5rem;

  &-hidden {
    display: none;
  }
}

.media-library-layout-message {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.media-library-browser-actions-action-search {
  margin: 0 1.5rem 0 auto;
}

.media-library-browser-actions-action-for-selected {
  font-size: .75rem;
  text-transform: uppercase;
  color: $color-dark-2;
  min-width: 130px;

  &-value {
    color: $color-dark;
  }
}

.media-library-actions {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;

  &-action {
    &:not(:last-child) {
      margin-right: 14px;
    }
  }
}

.media-library-browser-head {
  margin-bottom: 1.5rem;
}

.media-library-browser-head-title {
  font-size: 1.25rem;
  color: var(--90);
  margin: 0;
  font-weight: 400;
}

.media-library-panel-actions {
  display: flex;
  align-items: center;
  margin-top: 1rem;

  &-hidden {
    display: none;
  }

  &-disabled {
    .media-library-action {
      &:not(.media-library-action-select-all) {
        pointer-events: none;
        cursor: default;
        opacity: .5;
      }
    }
  }
}

.media-library-action-select-all-positive {
  + .media-library-action-select-all-negative {
    margin-left: .5rem;
  }
}


