$modal-controls-height: 60px;

.media-library-modal {
  overflow: hidden;
  direction: ltr;
  transform: translateZ(0);
  z-index: 30;
  position: fixed;

  &--entire-scrollable {
    > .media-library-modal-viewport {
      overflow-y: auto;

      &-element {
        height: auto;
        max-height: initial;
      }
    }
  }

  &,
  &-backdrop,
  &-viewport {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &-backdrop,
  &-viewport {
    position: absolute;
  }

  &-backdrop {
    background-color: rgba(30, 30, 30, 0.9);
  }

  &-viewport {
    backface-visibility: hidden;
    height: 100%;
    outline: none;
    padding: 3.125rem 1.5rem;
    position: absolute;
    text-align: center;
    transition-property: transform, opacity;
    white-space: normal;
    width: 100%;

    &::before {
      content: "";
      display: inline-block;
      font-size: 0;
      height: 100%;
      vertical-align: middle;
      width: 0;
    }

    &,
    &-element {
      @include scrollbars();

      -webkit-overflow-scrolling: touch;
      overflow-y: auto;
    }

    &-element {
      background: #fff;
      display: inline-flex;
      flex-direction: column;
      margin: 0;
      max-width: 100%;
      position: relative;
      text-align: left;
      vertical-align: middle;
      width: 100%;
      max-height: 100%;
      cursor: default;
      box-shadow: 0 15px 30px 0 rgba(0,0,0, .11),0 5px 15px 0 rgba(0,0,0, .08);
      border-radius: $border-radius;

      // Todo: temporary solution
      overflow: initial;

      &-body {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        min-height: 0;
        border-radius: $border-radius;
        overflow: hidden;
      }

      &-controls {
        height: $modal-controls-height;
        align-items: center;
        padding: .75rem 1rem;
        border-radius: 0 0 $border-radius $border-radius;
        background-color: var(--#{30});
      }

      &-close {
        position: absolute;
        right: 0;
        top: 0;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        background: var(--white);
        color: var(--black);
        transform: translate(50%, -50%);
        box-shadow: 0 4px 20px rgb(0 0 0 / 25%);
        cursor: pointer;
        text-align: center;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        > svg {
          height: 1rem;
          width: 1rem;
        }
      }
    }
  }
}

.library-modal-layout {
  display: flex;
  flex-direction: column;
  min-height: 0;

  &-scrollable {
    @include scrollbars();

    overflow-y: auto;
    display: flex;
    flex-direction: column;
    min-height: 0;
  }
}
