.media-library-thumbnail {
  cursor: pointer;
  padding: .25rem;
  border: 1px solid transparent;
  border-radius: $border-radius;
  line-height: 1;

  &:hover {
    background-color: #E5F3FF;
    border-color: #E5F3FF;
  }

  &-highlighted {
    border-style: dashed;
  }

  &-highlighted,
  &-selected {
    &,
    &:hover {
      border-color: #99D1FF;
    }
  }

  &-selected {
    &,
    &:hover {
      background-color: #CDE8FF;
      border-style: solid;
    }
  }

  &-disabled,
  &-dragged {
    opacity: .5;
  }

  &-drop {
    border-color: green;
    border-style: dashed;
    background: greenyellow;
  }

  &-intersected {
    background-color: #E5F3FF;
    border-color: #99D1FF;
    border-style: dashed;
  }

  &[data-extension=png] {
    .media-library-thumbnail-head-image {
      background-image: url("/vendor/nova-media-library/img/transparency-pattern.png");
    }
  }
}

.media-library-thumbnail-head {
  padding-top: 75%;
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: .25rem;
  border-radius: $border-radius;
  overflow: hidden;
  background-color: $color-placeholder;
}

.media-library-thumbnail-head-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.media-library-thumbnail-name {
  font-size: .75rem;
  @include ellipsis();
}

.media-library-thumbnail-name-index {
  padding-right: 4px;

  &::after {
    content: '.';
  }
}

.media-library-ghost-counter {
  min-width: 2.5rem;
  height: 1.5rem;
  line-height: 20px;
  font-size: 1rem;
  display: inline-flex;
  padding: 0 4px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 2px;
  background-color: var(--primary);
  color: var(--white);
  z-index: 99999;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ffffff;
}
