.media-library-thumbnail {
  cursor: pointer;
  padding: .25rem;
  border: 1px solid transparent;
  border-radius: $border-radius;
  line-height: 1;
  background-color: var(--white);

  &:hover {
    background-color: #E5F3FF;
    border-color: #E5F3FF;
  }

  &--disabled {
    opacity: .5;

    &,
    &:hover {
      border-color: var(--60);
      background-color: var(--30);
      color: var(--80);
    }

    &.media-library-thumbnail {
      &--selected {
        &,
        &:hover {
          opacity: .5;
        }
      }
    }
  }

  &--highlighted {
    border-style: dashed;
  }

  &--highlighted,
  &--selected {
    &,
    &:hover {
      border-color: #99D1FF;
      opacity: 1;
    }
  }

  &--selected,
  &--ghost {
    &,
    &:hover {
      background-color: #CDE8FF;
      border-style: solid;
    }
  }

  &--dragged {
    opacity: .5;
  }

  &--dragged,
  &--ghost {
    &,
    &:hover {
      border-style: solid;
      border-color: #99D1FF;
    }
  }

  &--dragged {
    background-color: #CDE8FF !important;
  }

  &--intersected {
    &,
    &:hover {
      background-color: #E5F3FF;
      border-color: #99D1FF;
      border-style: dashed;
      opacity: 1;
    }
  }

  &[data-extension=png] {
    .media-library-thumbnail {
      &-head {
        background-image: url("/vendor/nova-media-library/img/transparent.png");
      }
    }
  }

  &-head {
    padding-top: 75%;
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: .5rem;
    overflow: hidden;
    //border-radius: $border-radius;
    //background-color: $color-placeholder;

    &-image {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: auto;
      height: auto;
      max-width: calc(100% - .5rem);
      max-height: calc(100% - .5rem);

      &:not([src]):not([srcset]) {
        visibility: hidden;
      }
    }
  }

  &-name {
    font-size: .75rem;

    @include ellipsis();

    &-index {
      padding-right: 4px;

      &::after {
        content: '.';
      }
    }
  }
}
